body 
{
     margin: 0;
     background: url('http://hackers.pk/assets/img/samosa.jpg');
}

.jumbotron
{
    color:#000000;
    background-color: #FFFFFF;
}

#matrix-jumbotron
{
    background-color: #0000FF;
}